doctype html

html
    head
        link(rel="stylesheet" href="A6_template.css")
    body
        .ticket
            .metadata
                .ticket-id.ticket-type(class='#{ticket.type}')
                    | ##{ticket.id}
            .ticket-engine(class='#{ticket.engine}')
                if ticket.repo
                    .ticket-repo #{ticket.repo}


            .ticket-reporter #{ticket.reporter}


            h1.ticket-title #{ticket.title}
