doctype html

html
    head
        link(rel="stylesheet" href="template.css")
        link(rel="stylesheet" href='#{ticket.style}.css')
    body
        .ticket
            .metadata
                .ticket-id.ticket-type(class='#{ticket.type}')
                    | ##{ticket.id}
            .ticket-engine(class='#{ticket.engine}')
                if ticket.repo
                    .ticket-repo #{ticket.repo}


            .ticket-reporter #{ticket.reporter}


            .ticket-title #{ticket.title}
